body {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.bucket {
    background-color: bisque;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    padding: 5px;
}

.item {
    background-color: cadetblue;
    border: thin solid black;
    text-align: center;
}
