body {
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    background-color:cadetblue;
}

header {
    background-color: orangered;
    margin: auto auto 20px 20px;
    padding: 20px 20px 20px 20px;
    text-align: center;
    width: 300px;
}

nav {
    background-color: orange;
    border: 3px solid black;
    margin: 20px auto 50px 20px;
}

#wrapper {
    background-color: aqua;
    border: 7px solid black;
    margin: 0 auto;
    width: 700px;
}

figure {
    border: 3px solid red;
    width: 91px;
}