h1, h2 {
    background-color: bisque;
    border: 3px solid dodgerblue;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    margin: 30px auto;
}

#wrapper {
    width: 700px;
    margin: 0 auto;
}