header {
    display: none;
}

nav {
    display: none;
}

footer {
    display: none;
}

body {
    font-family: 'Times New Roman', Times, serif;
}

h1, h2, h3 {
    font-family: Arial, Helvetica, sans-serif;
}

aside {
    background-color: darkgray;
    display: block;
    width: 300px;
}

aside img {
    width: 250px;
}

aside h3 {
    text-align: center;
}

#beside {
    align-content: space-around;
    align-items: end;
    display: flex;
    flex-flow: column wrap;
    float: right; 
    margin: auto 15px auto 15px;
    padding-left: 15px;
    padding-right: 15px;
}

figcaption {
    font-size: small;
    font-style: italic;
}

.container {
    display: block;
    flex-wrap: wrap;
    gap: 20px;
    padding: 5px;
}

.card {
    border: 2px solid white;
    box-shadow: 5px 2px 8px black;
    display: flex;
    flex-flow: row-reverse wrap;
    float: left;
    gap: 30px;
    justify-content: space-around;
    margin-left: 20px;
    margin-bottom: 20px;
    padding: 5px 5px;
    width: 250px;
}

.card img {
    width: 100%;
}

.end {
    display: none;
}