body {
    background-image: url(background.jpg);
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: 17px;
}

.container {
    display: block;
    flex-wrap: wrap;
    gap: 20px;
    padding-left: 15px;
}

h3 {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-style: italic;
}

header h1 {
    background-color: red;
    border: 5px solid black;
    border-radius: 5px;
    color: blue;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    font-style: normal;
    margin: 0;
    text-align: center;
}

span {
    font-style: italic;
}
/*
iframe {
    width: "560";
    height: "315";
}
/*Navigation Bar*/
nav {
    background-color: aliceblue;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

nav a {
    color: black;
    display: block;
    padding: 10px 50px;
    text-align: center;
    text-decoration: none;
    transition: background-color 5s ease-in;
}

nav a:hover {
    background-color: magenta;
    color: red;
    text-decoration: underline;
}

.current {
    color: blue;
}
/*End of Navigation*/

/*Aside tag*/
aside {
    background-color: gray;
    display: block;
    font-style: italic;
    width: 250px;
}

#beside {
    align-content: space-evenly;
    display: flex;
    flex-flow: column wrap;
    float: left;    
    margin: 5px 20px 20px 15px;
    padding-left: 15px;
    padding-right: 15px;
}
/*Aside tag ends*/

#shoutout {
    text-align: right;
    transform: skew(-30deg);
}

figcaption {
    font-size: small;
    font-style: italic;
}

.card {
    background-color: lightblue;
    border: 2px solid white;
    box-shadow: 5px 2px 8px black;
    display: flex;
    flex-flow: column wrap-reverse;
    float: left;
    gap: 35px;
    justify-content: space-between;
    margin-left: 30px;
    margin-bottom: 20px;
    padding: 5px 5px;
    width: 250px;
}

.card img {
    width: 100%;
}

/*Sports page Table CSS*/
.information caption {
    background-color: blue;
}

.information {
    border: thin solid black;
    border-collapse: collapse;
    border-spacing: 0;
    margin: auto;
    text-align: center;
}

.information td, .information th {
    border: thin solid black;
    padding: 10px;
}

.information tfoot, .information thead {
    background-color: black;
    color: white;
}

.information tfoot td {
    background-color: red;
    font-style: italic;
}

.information tbody tr:nth-child(even){
    background-color: white;
}

.information tbody tr:nth-child(odd) {
    background-color: blue;
}
/*End of sports table CSS*/

/*Form CSS*/
fieldset {
    background-image: url(postimage.jpg);
    background-repeat: no-repeat;
    border: thick dashed black;
    box-shadow: 5px 3px 2px gray;
    color: white;
    width: fit-content;
}

fieldset h2 {
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    text-align: center;
    transform: skew(-20deg);
}

legend {
    background-color: orangered;
    border: thin solid black;
    padding: 10px;
}

.form-row {
    display: flex;
    gap: 10px;
    margin-top: 20px;
}

.form-row input:not([type='submit']), select, textarea {
    background-color: lightblue;
    border-radius: 4px;
    padding: 3px;
}

.form-row textarea {
    height: 150px;
    width: 350px;
}

.form-row [type='submit'] {
    background-color: whitesmoke;
    border-radius: 5px;
    color: black;
    padding: 5px;
}

.form-row input:focus, select:focus, textarea:focus {
    background-color: white;
}

.form-row label {
    text-align: right;
    width: 200px;
}

.form-row textarea {
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

.spacer {
    width: 150px;
    text-align: right;
}

#message {
    font-size: x-large;
}
/*End of Form css*/

.end {
    clear: both;
}

footer {
    color: gray;
    margin-top: 10px;
    font-style: italic;
}

@media only screen and (max-width: 900px) {
    nav {
        flex-direction: column;
    }

    nav a {
        border: thin solid black;
        text-decoration: underline;
    }

    iframe {
        width: 95%;
    }

    .card {
        flex-flow: column nowrap;
        margin: auto auto 20px auto;
        width: 95%;
    }
 
    aside {
        margin: auto;
        width: 100%;
    }

    fieldset {
        width: 100%;
    }

    #beside {
        width: 90%;
    }

    .information{
        margin: auto;
        width: 100%;
    }
}