body {
    background-image: url(background.jpg);
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

h3, h4 {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-style: italic;
}

header h1 {
    background-color: red;
    border: 5px solid black;
    border-radius: 5px;
    color: blue;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    font-style: normal;
    margin: 0;
    text-align: center;
}
/*Navigation Bar*/
nav {
    background-color: aliceblue;
    display: flex;
    justify-content: center;
}

nav a {
    color: black;
    display: block;
    padding: 10px 50px;
    text-align: center;
    text-decoration: none;
}

nav a:hover {
    color: red;
    text-decoration: underline;
}
/*End of Navigation*/

/*Aside tag*/
aside {
    background-color: gray;
    display: block;
    font-style: italic;
    width: 250px;
}

#beside {
    align-content: space-evenly;
    display: flex;
    flex-flow: column wrap;
    float: left;    
    margin: 15px 10px 15px 15px;
    padding-left: 15px;
    padding-right: 15px;
}
/*Aside tag ends*/

.current {
    color: blue;
}

#flag {
    margin-top: 10px;
    transform: rotate(-10deg);
}

figcaption {
    font-size: small;
    font-style: italic;
}

.container {
    display: block;
    flex-wrap: wrap;
    gap: 20px;
    padding: 5px;
}

.card {
    border: 2px solid white;
    box-shadow: 5px 2px 8px black;
    display: flex;
    flex-flow: row-reverse nowrap;
    float: left;
    gap: 30px;
    justify-content: space-between;
    margin-left: 20px;
    margin-bottom: 20px;
    padding: 5px 5px;
    width: 250px;
}

.card img {
    width: 100%;
}

.end {
    clear: both;
}

/*Table CSS*/
.information caption {
    background-color: blue;
}

.information {
    border: thin solid black;
    border-collapse: collapse;
    border-spacing: 0;
    margin: auto;
    text-align: center;
}

.information td, .information th {
    border: thin solid black;
    padding: 10px;
}

.information tfoot, .information thead {
    background-color: black;
    color: white;
}

.information tfoot td {
    background-color: red;
    font-style: italic;
}

.information tbody tr:nth-child(even){
    background-color: white;
}

.information tbody tr:nth-child(odd) {
    background-color: blue;
}
/*End of table CSS*/

footer {
    font-style: italic;
}

@media only screen and (max-width: 800px) {
    nav {
        flex-direction: column;
    }

    nav a {
        border-bottom: thin solid black;
        text-decoration: underline;
    }

    .card {
        margin: auto auto 20px auto;
        width: 100%;
    }
 
    aside {
        background-color: beige;
        margin: 5px 5px 10px 5px;
        width: 100%;
    }
}