html {
    background-color: skyblue;
    color: rgb(8, 74, 91);
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

span {
    font-style: italic;
}

a {
    color: rgb(2, 48, 71);
}

a:hover {
    color: rgb(255, 183, 3);
}

h1, h2, h3 {
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    color: indigo;
}

nav {
    color: indigo;
}

.basic {
    color: rgb(135, 89, 173);
}

.mindful {
    color: indigo;
    font-family: fantasy;
}

#box {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

div {
    display: block;
}