html {
    background-color: skyblue;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

span

a {
    color: rgb(2, 48, 71);
}

a:hover {
    color: rgb(255, 183, 3);
}

h1, h2, h3 {
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    color: indigo;
}

nav {
    color: indigo;
}

p {
    color: rgb(34, 106, 143);
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

.mindful {
    color: brown;
    font-family: fantasy;
}

#box {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

div {
    display: block;
}