h1, h2 {
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

body {
    background: url(greenbg.png);
    font: Georgia, 'Times New Roman', Times, serif;
}

nav a {
    color: brown;
}

.current {
    color: blue;
}

.list {
    list-style-image: url(hibiscus.png);
}

#flag {
    background: url(flag.png) no-repeat top right;
}