body {
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

.information {
    border: thin solid black;
    border-collapse: collapse;
    border-spacing: 0;
    margin: 0 auto;
}

.information td, .information th {
    border: thin solid black;
    padding: 5px;
}

.information tfoot, .information thead {
    background-color: red;
    color: beige;
}

.information tbody tr:nth-child(even){
    background-color: bisque;
}

.information tbody tr:nth-child(odd) {
    background-color: gold;
}